version: '2.4'

services:

  # ===== FRONTEND =====
  front:
    build: ./front
    container_name: front
    networks:
      - app-network

  # ======= REVERSE PROXY NGINX =======
  nginx:
    image: nginx:latest
    container_name: reverse-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - front
      - store-service
      - notification-system
    networks:
      - app-network

  # ===== SPRING MICROSERVICES =====

  gen-card-service:
    build: ./gen-card-service
    container_name: gen-card-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
      ACTIVEMQ_BROKER_URL: tcp://activemq:61616
      IMAGE_SERVICE_URL: http://gen-img-service:8081
      TEXT_SERVICE_URL: http://text-service:8086
      STORE_SERVICE_URL: http://store-service:8083
    networks:
      - app-network

  gen-img-service:
    build: ./gen-img-service
    container_name: gen-img-service
    depends_on:
      - activemq
      - fooocus-api
    environment:
      SPRING_PROFILES_ACTIVE: docker
      ACTIVEMQ_BROKER_URL: tcp://activemq:61616
      FOOOCUS_API_URL: http://fooocus-api:8888
      GEN_CARD_SERVICE_URL: http://gen-card-service:8084
    networks:
      - app-network

  notification-system:
    build: ./notification-system
    container_name: notification-system
    environment:
      SPRING_PROFILES_ACTIVE: docker
      ACTIVEMQ_BROKER_URL: tcp://activemq:61616
    networks:
      - app-network

  store-service:
    build: ./store-service
    container_name: store-service
    environment:
      SPRING_PROFILES_ACTIVE: docker
      ACTIVEMQ_BROKER_URL: tcp://activemq:61616
    networks:
      - app-network

  text-service:
    build: ./text-service
    container_name: text-service
    depends_on:
      - activemq
      - ollama
    environment:
      SPRING_PROFILES_ACTIVE: docker
      ACTIVEMQ_BROKER_URL: tcp://activemq:61616
      OLLAMA_URL: http://ollama:11434
      GEN_CARD_SERVICE_URL: http://gen-card-service:8084
    networks:
      - app-network
  game-service:
    build: ./game-service
    container_name: game-service
    networks:
      - app-network

  chat-service:
    build: ./backend_node_chat
    container_name: chat-service
    networks:
      - app-network

  # ===== ACTIVEMQ =====
  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    ports:
      - "8161:8161"
      - "61616:61616"
    networks:
      - app-network

  # ===== FOOOCUS API (GPU REQUIRED) =====
  fooocus-api:
    image: konieshadow/fooocus-api
    container_name: fooocus-api
    ports:
      - "8888:8888"
    networks:
      - app-network
    environment:
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]

  # ===== OLLAMA (GPU) =====
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    networks:
      - app-network
    environment:
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]

networks:
  app-network:
    driver: bridge

volumes:
  ollama:
  fooocus-models:
